<plist version="1.0">
						<dict>
						   <key>items</key>
						   <array>
						       <dict>
						           <key>assets</key>
						           <array>
						               <dict>
						                   <key>kind</key>
						                   <string>software-package</string>
						                   <key>url</key>
						                   <string>https://www.birdflightapp.com/apps/8218/downloads/ios/cp1lf3gm4f4kskgw4sgkoosgk4w0408/sco_sgin.ipa</string>
						               </dict>
						               <dict>
						                   <key>kind</key>
						                   <string>display-image</string>
						                   <key>needs-shine</key>
						                   <true/>
						                   <key>url</key>
						                   <string>https://pbs.twimg.com/profile_images/939841834884493312/UEYagcWu_400x400.jpg</string>
						                </dict>
										<dict>
										<key>kind</key>
										<string>full-size-image</string>
										<key>needs-shine</key>
										<true/>
										<key>url</key><string>https://pbs.twimg.com/profile_images/939841834884493312/UEYagcWu_400x400.jpg</string>
										</dict>
						           </array>
						           <key>metadata</key>
						           <dict>
						               <key>bundle-identifier</key>
						               <string>com.toyopagroup.picaboo</string>
						               <key>bundle-version</key>
						               <string>10.26</string>
						               <key>kind</key>
						               <string>software</string>
						               <key>title</key>
						               <string>يدعم الاشعارات وبدون اعلانات مع اداة الرجوع للشكل القديم
</string>
						           </dict>
						       </dict>
						   </array>
						</dict>
						</plist>